@page
@model Bug.Tracking.Web.Pages.UserBugPages.CreateModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h5>Error de Usuario</h5>
<hr />
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
    <hr />
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserBug.Description" class="form-label"></label>
                <input asp-for="UserBug.Description" class="form-control" />
                <span asp-validation-for="UserBug.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserBug.ProjectId" class="form-label"></label>
                <select asp-for="UserBug.ProjectId" class="form-select" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="UserBug.UserId" class="form-label"></label>
                <select asp-for="UserBug.UserId" class="form-select" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="text-end">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div>
    <a asp-page="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
